@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Prata&display=swap');

:root{
    
    /* ------- Variables para las fuentes ------- */
    --heading-font: 'Prata', sans-serif;
    --body-font: 'Inter', sans-serif;

    /* ------- colores ------- */
    --bg-color: #0a0a0b;
    --text-color: #fff;
    --text-color-2: #adadad;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    color: #fff;
    background: var(--bg-color);
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.text-color{
    color: var(--text-color);
}

.alter-text{
    color: var(--text-color-2);
}

.heading-font{
    font-family: var(--heading-font);
}

.body-font{
    font-family: var(--body-font);
}

.btn{
    font-size: 1rem;
    background: #fbe850;
    text-decoration: none;
    padding: 15px 30px;
}

.close{
    color: white;
    display: none;
    cursor: pointer;
    font-size: 1.3rem;
}

/* ------------ Header ------------ */
header{
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 0;
    z-index: 10;
}

.heading{
    display: flex;
    justify-content: space-between;
}

.logo h2{
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 1px;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: var(--text-color-2);
}

nav ul li:nth-child(2){
    margin: 0 10px 0 20px;
}

nav ul li:nth-child(3){
    margin: 0 20px 0 10px;
}

.toggle{
    /* position: fixed; */
    display: none;
    cursor: pointer;
}


/* -------------- Main section -------------- */


/* ---------- Landing ---------- */
.container-landing{
    padding: 70px 0;
    margin: 0 auto;
}

.text-area{
    max-width: 800px;
}

.text-area h1{
    font-size: 3.5em;
    font-weight: 400;
}

.text-area p{
    margin-top: 30px;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2rem;
}



/* ------------ Logo Section ----------- */
.container-logos{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-columns: auto;
    grid-gap: 20px;
}

.logo{
    width: 213px;
}





/* ------------ Responsive ------------- */
@media screen and (max-width: 1280px){
    header{
        padding: 50px 50px;
    }

    .container-landing{
        padding: 50px;
    }
    
    /* ---------- Seccion de los logos ---------- */
    .container-logos{
        width: 100%;
        padding: 30px 50px;
    }
    
    .logo{
        width: auto;
    }
}




@media screen and (max-width: 991px){
    header{
        padding: 50px 60px;
    }
    
    .toggle{
        display: block;
    }

    .close.active{
        display: block;
        position: absolute;
        right: 0;
        top: 70px;
    }

    .container{
        width: 100%;
    }

    .logo h2{
        left: 0;
    }

    nav ul{
        position: absolute;
        top: 150px;	
        left: 0;
        align-items: center;
        width: 100%;
    }

    nav ul li{
        width: 100%;
        display: block;
        text-align: center;
        padding: 30px 0;
        transition: background 0.3s;
    }

    nav ul li:hover{
        background: #fff;
    }

    nav ul li:nth-child(2){
        margin:0;
    }
    
    nav ul li:nth-child(3){
        margin: 0;
    }

    .btn{
        display: none;
        top: 70px;
        width: 160px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    .btn.active{
        display: block;
    }

    .menu{
        display: none;
        background: #000;
    }
    
    .menu.active{
        display: block;
    }

    /* ---------- Seccion de la landing ----------- */
    .container-landing{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text-area{
        width: 100%;
        padding: 0 60px;
    }

    /* ----------- Seccion de logos ------------ */
        
    .container-logos{
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
    }
    
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width: 500px){
    header{
        padding: 50px 30px;
        z-index: 10;
    }

    /* ------ Secciond de la landing ------- */
    .container-landing{
        padding: 70px 0;
        margin: 0 auto;
    }

    .text-area{
        padding: 0 30px;
    }
    
    .text-area h1{
        font-size: 2.5em;
        font-weight: 400;
    }
    
    .text-area p{
        margin-top: 30px;
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 2rem;
    }

    /* ----------- Seccion de logos ------------ */
        
    .container-logos{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 2rem;
        margin: auto;
    }
    
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }

}



