@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Prata&display=swap');

:root{
    
    /* ------- Variables para las fuentes ------- */
    --heading-font: 'Prata', sans-serif;
    --body-font: 'Inter', sans-serif;

    /* ------- colores ------- */
    --bg-color: #0a0a0b;
    --text-color: #fff;
    --text-color-2: #adadad;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s;
}

html{
    scroll-behavior: smooth;
}

body{
    background: var(--bg-color);
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.text-color{
    color: var(--text-color);
}

.alter-text{
    color: var(--text-color-2);
}

.heading-font{
    font-family: var(--heading-font);
}

.body-font{
    font-family: var(--body-font);
}

.btn{
    font-size: 1rem;
    background: #fbe850;
    text-decoration: none;
    padding: 15px 30px;
}

.close{
    color: white;
    display: none;
    cursor: pointer;
    font-size: 1.3rem;
}

/* ------------ Header ------------ */
header{
    /* background: lightblue; */
    padding: 50px 100px;
    z-index: 10;
}

.heading{
    display: flex;
    justify-content: space-between;
}

.logo h2{
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 1px;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: var(--text-color-2);
}

nav ul li:nth-child(2){
    margin: 0 10px 0 20px;
}

nav ul li:nth-child(3){
    margin: 0 20px 0 10px;
}

.toggle{
    /* position: fixed; */
    display: none;
    cursor: pointer;
}


@media screen and (max-width: 991px){
    header{
        padding: 50px 60px;
    }
    
    .toggle{
        display: block;
    }

    .close.active{
        display: block;
        position: absolute;
        right: 0;
        top: 70px;
    }

    .container{
        width: 100%;
    }

    .logo h2{
        left: 0;
    }

    nav ul{
        position: absolute;
        top: 150px;	
        left: 0;
        align-items: center;
        width: 100%;
    }

    nav ul li{
        width: 100%;
        display: block;
        text-align: center;
        padding: 30px 0;
        transition: background 0.3s;
    }

    nav ul li:hover{
        background: #fff;
    }

    nav ul li:nth-child(2){
        margin:0;
    }
    
    nav ul li:nth-child(3){
        margin: 0;
    }

    .btn{
        display: none;
        top: 70px;
        width: 160px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    .btn.active{
        display: block;
    }

    .menu{
        display: none;
        background: #000;
    }
    
    .menu.active{
        display: block;
    }

}

@media screen and (max-width: 500px){
    header{
        padding: 50px 30px;
        z-index: 10;
    }

}



